<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Readerpath</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Readerpath.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <script src="/js/confetti.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script>

    

</head>
<body>
    <header>

        <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm p-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center flex-column">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Home" asp-action="Index">Centrum</a>
                        </li>
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Challenge" asp-action="Challenge" asp-route-year="@DateTime.Now.Year.ToString()">Challenge</a>
                        </li>
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Authorized" asp-action="TBR">ToBeRead</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-none d-md-block mx-3" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logo-inline400x49.webp" /></a>
                        </li>
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Authorized" asp-action="Statistics" asp-route-year="@DateTime.Now.Year.ToString()">Statystyki</a>
                        </li>
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Bingo" asp-action="Bingo">Bingo</a>
                        </li>
                        <li class="nav-item btn navBtn">
                            <a class="nav-link navText" asp-area="" asp-controller="Authorized" asp-action="AllReadBooks">Przeczytane</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="d-sm-none" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%);"><img src="~/Images/logo-inline400x49.webp" width="90%" /></div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Readerpath - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
