@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item navBtn">
            <a class="nav-link text-dark navText" asp-area="Identity" asp-page="/Account/Manage/Index" title="Zarządzaj kontem">Moje konto</a>
    </li>
        <li class="nav-item ">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark navBtn navText">Wyloguj</button>
        </form>
    </li>
}
else
{
}
</ul>
