@model List<Readerpath.Entities.Bingo>

<h2 class="d-flex justify-content-center align-items-center">Książkowe Bingo</h2>
<div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary btn-lg w-25 py-3 mt-2" asp-action="AddNewBingo">Utwórz nowe książkowe bingo!</a>
</div>


<div class="container mt-3">
    <div class="row">
        @foreach(Readerpath.Entities.Bingo bingo in Model)
        {
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@bingo.Name</h3>
                        <a asp-controller="Authorized" asp-action="BingoDetails" asp-route-bingoId="@bingo.Id" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

