@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model LoggedIndexModel
@{
    
}

<h2 class="d-flex justify-content-center align-items-center">Cześć, @User.Identity.Name!</h2>
<h3 class="d-flex justify-content-center align-items-center">Tutaj znajdziesz wszystko co najpotrzebniejsze!</h3>
<div class="d-flex justify-content-center align-items-center">
    <form method="get" action="/search" class="d-flex" style="min-width: 500px;">
        <input class="form-control" type="text" id="query" name="query">
        <button class="btn btn-primary mx-1" type="submit">Szukaj</button>
    </form>
</div>






<div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary btn-lg w-25 py-3 mt-2" asp-action="AddNewBook">Dodaj książkę</a>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>