@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .updateLog-card{
        background-color: white;
        padding:10px;
        border: solid 1px #c64a16;
    }
</style>


<h3 class="text-center">Dziennik aktualizacji</h3>

<div class="d-flex justify-content-center align-items-center mt-3">
    <div class="w-75 updateLog-card">
        <h4 class="text-center">ReaderPath Alpha 0.0.6</h4>
        <h5 class="text-center">--.07.2023</h5>

        <h6>Nowe funkcjonalności:</h6>
        <ul>
            <li>Dodano wyświetlanie ocen przy książkach w statystykach miesiąca</li>
            <li>Tylko użytkownicy z uprawnieniami "Admin" oraz "Edytor" mogą dodać nową książkę, która zostanie automatycznie zaakceptowana
                i będzie widczona w wyszukiwarce dla wszystkich. Inni użytkownicy mogą dodać książkę, która będzie widoczna tylko dla nich,
                "Admin" może zaakceptować tę książkę, wtedy będzie widoczna dla wszystkich</li>
        </ul>

        <h6>Poprawki:</h6>
        <ul>
            <li>Poprawiono wyświetlanie minut w podsumowaniu miesiąca. Teraz gdy liczba minut jest mniejsza niż 10 liczba ma 0 z przodu.</li>
            <li>Poprawiono przekierowanie po udanej rejestracji.</li>
        </ul>

        <h6>Naprawione błędy:</h6>
        <ul>
            <li></li>
        </ul>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-3">
    <div class="w-75 updateLog-card">
        <h4 class="text-center">ReaderPath Alpha 0.0.5</h4>
        <h5 class ="text-center">09.07.2023</h5>

        <h6>Nowe funkcjonalności:</h6>
        <ul>
            <li>Logi aktualizacji</li>
        </ul>

        <h6>Poprawki:</h6>
        <ul>
            <li>Poprawiono favicon na odpowiedni</li>
        </ul>

        <h6>Naprawione błędy:</h6>
        <ul>
            <li>Ustawianie książki jako przeczytanej bez dodawania komentarza nie powoduje już błędu</li>
            <li>Naprawiono źle wyświetlający się ulubiony gatunek w statystykach miesiąca</li>
        </ul>
    </div>
</div>
