@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Readerpath</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Readerpath.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
</head>

<body style="display: flex; min-height: 100vh; flex-direction: column; justify-content: center; overflow: hidden">
    <div class="d-flex justify-content-center align-items-center">
        <img class="d-md-none" src="~/Images/Logo1000x373.webp" width="70%" />
        <img class="d-none d-md-block" src="~/Images/Logo1000x373.webp" width="20%" />
    </div>


    <h1 class="d-flex justify-content-center align-items-center">@ViewData["Title"]</h1>

    <div class="row d-flex justify-content-center align-items-center mt-2">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Nazwa użytkownika" />
                    <label asp-for="Input.UserName">Nazwa użytkownika</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Hasło" />
                    <label asp-for="Input.Password">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Potwierdź hasło" />
                    <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj się</button>
                <a class="mt-2 w-100 btn btn-lg btn-primary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Przejdź do logowania</a>                
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
