html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    background-color: #f7f3ec;
    color: #1b4c4b;
}

#typingEffect {

    font-size:2vw;
}


/* --- Changes in bootstrap --- */

.btn-primary {
    background-color: #c64a16;
    border-color: #c64a16;
}

    .btn-primary:hover {
        background-color: #b53905;
        border-color: #b53905;
    }

    .btn-primary:focus {
        background-color: #b53905;
        border-color: #b53905;
    }

.btn-outline-secondary {
    color: #c64a16;
    background-color:white;
    border-left:none;
    border-radius:0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-color: lightgray;
}

    .btn-outline-secondary:hover {
        color: #1b4c4b;
        background-color: white;
        border-color: lightgray;
    }


/* --- End changes in bootstrap --- */
#loginPageAnimation {
    opacity: 0;
    animation-name: opacityChange;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes opacityChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.navBtn {
    font-size: 20px;
}

    .navBtn:hover {
        background-color: rgba(27, 76, 75, .1);
    }

        .navBtn:hover .navText {
            color: #c64a16;
        }

.navText {
    color: #1b4c4b;
}

.navTest:hover {
    color: #c64a16;
}

.textMutedSearch{
    color: lightgrey;
}

.title-line-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-line {
    flex-grow: 1;
    height: 2px;
    margin: 0 10px;
    background-color: #c64a16;
}

h1 {
    padding: 0 10px;
}

.month-block {
    background-color: #b53905;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7f3ec;
    height: 150px;
}

.empty-month-block {
    background-color: #d38869;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7f3ec;
    height: 150px;
}