html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    background-color: #f7f3ec;
    color: #1b4c4b;
}

#typingEffect {

    font-size:2vw;
}

.highlight {
    background-color: #B5D2A5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.modal-ok-button {
    margin-top: 10px;
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/* --- Changes in bootstrap --- */

.btn-primary {
    background-color: #c64a16;
    border-color: #c64a16;
}

    .btn-primary:hover {
        background-color: #b53905;
        border-color: #b53905;
    }

    .btn-primary:focus {
        background-color: #b53905;
        border-color: #b53905;
    }

.btn-outline-primary {
    border-color: #c64a16;
    color: #c64a16;
}

    .btn-outline-primary:hover {
        border-color: #c64a16;
        color: #fff;
        background-color: #c64a16;
    }

.btn-outline-secondary {
    color: #c64a16;
    background-color:white;
    border-left:none;
    border-radius:0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-color: lightgray;
}

    .btn-outline-secondary:hover {
        color: #1b4c4b;
        background-color: white;
        border-color: lightgray;
    }

.btn-outline-warning {
    color: #c64a16;
    border-color: #c64a16;
}

    .btn-outline-warning:hover {
        color: white;
        border-color: #c64a16;
        background-color: #c64a16;
    }

.text-loader {
    --bs-text-opacity: 1;
    color: #c64a16 !important;
}

.form-check-input:checked {
    background-color: #c64a16;
    border-color: #c64a16;
}

.form-control:focus {
    border-color: #c64a16;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(198, 74, 22, 0.6);
}

.btn:focus, .btn:active {
    outline-color: none !important;
    box-shadow: none;
}
/* --- End changes in bootstrap --- */
#spinnerLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#loginPageAnimation {
    opacity: 0;
    animation-name: opacityChange;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes opacityChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.navBtn {
    font-size: 20px;
}

    .navBtn:hover {
        background-color: rgba(27, 76, 75, .1);
    }

        .navBtn:hover .navText {
            color: #c64a16;
        }

.navText {
    color: #1b4c4b;
}

.navTest:hover {
    color: #c64a16;
}

.textMutedSearch{
    color: lightgrey;
}

.title-line-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-line {
    flex-grow: 1;
    height: 2px;
    margin: 0 10px;
    background-color: #c64a16;
}

h1 {
    padding: 0 10px;
}

.month-block {
    background-color: #b53905;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7f3ec;
    height: 150px;
}

.empty-month-block {
    background-color: #d38869;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7f3ec;
    height: 150px;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-circle i {
        font-size: 24px;
        color: white;
    }

.border-challenge{
    border: 3px solid;
}